/* Base Page */
html {
    height: 100%;
}
body {
    background-color: rgb(158, 164, 159);
    color: rgb(0, 0, 0);
}
a {
    color: rgb(204, 225, 235);
}
.mainLogo {
    background-color: rgb(39, 39, 39);
}
.baseHOne {
    text-align: center;
    color: rgb(158, 164, 159);
}
#carouselPics {
    height: 45rem;
    z-index: -1;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.mainSection {
    min-height: calc(100vh - 55px);
  }
.footer {
    height: 50px;
  }
/* All Pages  */
.pageHOne {
    text-align: center;
}
/* Home Page */
.featured {
    text-align: center;
    padding: 2%;
}
.featuredItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.articles {
    text-align: center;
    padding: 2%;
}
.articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Sign in and sign up Form */
#loginForm {
    margin: 5%;
}
#signupForm {
    margin: 5%;
}
/* Cart */
.cartSection {
    margin: 4%;
}
/* Womens Section */
.womensClothing {
    padding: 1%;
}
/* Mens Section */
.mensClothing {
    padding: 1%;
}
/* Accessories Section */
.accessories {
    padding: 1%;
}
/* Checkout page */
#checkoutSection {
    margin: 2%;
}