/* Base Page */
html {
    height: 100%;
}
body {
    background-color: rgb(220, 222, 221);
    color: rgb(0, 0, 0);
}
a {
    color: rgb(204, 225, 235);
}
.mainLogo {
    background-color: rgb(39, 39, 39);
}
.baseHOne {
    text-align: center;
    color: rgb(158, 164, 159);
}
#carouselPics {
    height: 45rem;
    z-index: -1;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.mainSection {
    min-height: calc(100vh - 55px);
  }
.footer {
    height: 50px;
  }
.footer_content {
    display: flex;
    justify-content: center;
}

/* All Pages  */
.pageHOne {
    text-align: center;
}

/* Home Page */
.featured {
    text-align: center;
    padding: 2%;
}
.featuredItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#featured_card_body {
    text-align: center;
}
.articles {
    text-align: center;
    padding: 2%;
}
.articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about_h_one {
    display: flex;
    justify-content: center;
}

/* Sign in and sign up Form */
#loginForm {
    margin: 5%;
}
#signupForm {
    margin: 5%;
}

/* Account profile */
.memberAccount {
text-align: center;
justify-content: center;
margin: 1%;
padding: 1%;
}
#profile_card {
    width: 100%;
}
.ordered_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
}

/* Edit Account */
.edit_h_one {
    text-align: center;
}

/* Womens Section */
.womensClothing {
    padding: 1%;
}
.all_women {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

/* Mens Section */
.mensClothing {
    padding: 1%;
}
.all_men {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

/* Accessories Section */
.accessories {
    padding: 1%;
}
.all_access {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

/* Cart orders page */
#checkoutSection {
    margin: 2%;
}
#product_info {
    justify-content: center;
    text-align: center;
}
.cart_table {
    float: right;
}
