{% extends 'base.html' %}
{% block content %}

<hr>
<section class="memberAccount">
        <div class="card text-dark bg light mb-3" id="profile_card">
            <div class="card-header"><h1 class="pageHOne">Profile</h1></div>
            <div class="card-body">  
                <h5 class="card-title">Username : {{ user.username }}</h5>
                <p class="card-text">First Name : {{ user.first_name }}</p>
                <p class="card-text">Last Name : {{ user.last_name }}</p>
                <p class="card-text">Residence : {{ user.city }}</p>
                <p class="card-text">Email : {{ user.email }}</p>
                <a href='edit_profile/' class="btn btn-outline-secondary">Edit Profile</a>
            </div>
        </div>
</section>

<h2 class="featured">Ordered Products</h2>
<section class="ordered_items">
{% for item in items %} 
<div class="card" style="width: 18rem;">
    <img class="thumbnail" src="{{ item.item.image.url }}">
    <div class="card-body">
        <h5 class="card-title">{{ item.item.title }}</h5>
        <p class="card-text">${{ item.item.price }}</p>
        <a href="{{ item.item.image.url }}" class="btn btn-outline-secondary">View Product</a>
    </div>
</div>
{% endfor %}
</section>
    


{% endblock %}