{% extends 'base.html' %} 

{% block content %}
<hr>
<h1 class="edit_h_one">Edit: {{ user.username }}</h1>

<div id='loginForm' class="card text-center text-white bg-dark">
  <div class="card-header">
    Change information
  </div>
  <div class="card-body">
    {% if error_message %}
      <p>{{error_message}}</p>
    {% endif %}
    <form class="px-4 py-3" method="POST" action="{% url 'edit_profile' %}" >
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" id="loginUsername" placeholder="First name">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" id="loginUsername" placeholder="Last Name">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="loginUsername" placeholder="Username">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">City</label>
        <input type="text" name="city" class="form-control" id="loginUsername" placeholder="City">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="loginUsername" placeholder="Email">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Password</label>
        <input type="password" name="password1" class="form-control" id="loginUsername" placeholder="Password">
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control" id="loginPassword" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-outline-success">Edit Account</button>
    </form>
</div> 

{% endblock %}