{% extends 'base.html' %}
{% block content %}

<section class="mensSection">
    <div class="mensPhoto">
        <img src="https://i.ytimg.com/vi/W8mUyTP-VEY/maxresdefault.jpg" class="rounded mx-auto d-block" alt="">
    </div>
    <div>
        <h1 class="pageHOne">Men</h1>
    </div>
    <hr>
    <section class="mensClothing">
        <section class="mensShirts">
            <h3>Shirts</h3>
            <div class="card" style="width: 18rem;">
                <img src="https://mediaslide-europe.storage.googleapis.com/brooks/pictures/322/3498/large-1547813516-241a6ab37ba9a7a1b40913bad35c4986.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-success">Go somewhere</a>
                </div>
            </div>
        </section>
        <hr>
        <section class="mensPants">
            <h3>Pants</h3>
            <div class="card" style="width: 18rem;">
                <img src="https://mediaslide-europe.storage.googleapis.com/brooks/pictures/322/3498/large-1547813516-241a6ab37ba9a7a1b40913bad35c4986.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-success">Go somewhere</a>
                </div>
            </div>
        </section>
        <hr>
        <section class="mensCoats">
            <h3>Coats</h3>
            <div class="card" style="width: 18rem;">
                <img src="https://mediaslide-europe.storage.googleapis.com/brooks/pictures/322/3498/large-1547813516-241a6ab37ba9a7a1b40913bad35c4986.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-success">Go somewhere</a>
                </div>
            </div>
        </section>
    </section>
</section>


{% endblock %}